@model RolandGarros.Models.JoueurCreateViewModel

@{
    ViewData["Title"] = "Create";
    var pays = ViewData["Pays"] as SelectList;
}

<h1>Create</h1>

<h4>Joueur</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nom" class="control-label"></label>
                <input asp-for="Nom" class="form-control" />
                <span asp-validation-for="Nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prenom" class="control-label"></label>
                <input asp-for="Prenom" class="form-control" />
                <span asp-validation-for="Prenom" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="NationaliteId" class="control-label"></label>
                <select asp-for="NationaliteId"
                        asp-items="pays"
                        class="form-control"></select>
                <span asp-validation-for="NationaliteId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Sexe" class="control-label"></label>
                <!-- <select asp-for="Sexe" class="form-control"></select> -->
                <fieldset>
                    <legend></legend>
                    @foreach (var c in System.Enum.GetValues(typeof(RolandGarros.Entities.Sexe)).OfType<RolandGarros.Entities.Sexe>())
                    {
                        <input type="radio" asp-for="Sexe" value="@((int)c)" checked="@(c == Model.Sexe)" />
                        <label asp-for="Sexe">@c</label>
                    }
                </fieldset>
                <span asp-validation-for="Sexe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateNaissance" class="control-label"></label>
                <input asp-for="DateNaissance" class="form-control" />
                <span asp-validation-for="DateNaissance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Classement" class="control-label"></label>
                <input asp-for="Classement" class="form-control" />
                <span asp-validation-for="Classement" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Photo" class="control-label"></label>
                <input asp-for="Photo" class="form-control" />
                <span asp-validation-for="Photo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
