@model RolandGarros.Models.MatchDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Match</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
    </dl>
    @if (Model.Joueur1.PhotoUrl!=null)
    {
        <img src="@Model.Joueur1.PhotoUrl" height="300px" />
    }
    else
    {
        @if (Model.Joueur1.Sexe == RolandGarros.Entities.Sexe.Homme)
        {
            <img src="~/images/profile-man.svg" height="300px" style="text-align:left" />
        }
        else
        {
            <img src="~/images/profile-woman.png" height="300px" style="text-align:left" />
        }

    }

    @if (Model.Joueur2.PhotoUrl != null)
    {
        <img src="@Model.Joueur2.PhotoUrl" height="300px" />
    }
    else
    {
        @if (Model.Joueur2.Sexe == RolandGarros.Entities.Sexe.Homme)
        {
                    <img src="~/images/profile-man.svg" height="300px" style="text-align:left" />
        }
        else
        {
                    <img src="~/images/profile-woman.png" height="300px" style="text-align:left" />
        }

    }
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
