@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center fondRolandGarros" height="100%">
    <img src="~/images/logo.svg" height="256" alt="Logo Roland Garros" />
    <h1 class="display-4">BIENVENUE A ROLAND GARROS</h1>
    <p></p>
</div>
