@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center fondRolandGarros">
    <img src="~/images/logoo.png" height="250" alt="Logo Roland Garros" />
    <h1 class="display-4" style="">BIENVENUE A ROLAND GARROS</h1>
    <p></p>
</div>
